.display__time-left {
	font-weight: 100;
	font-size: 20rem;
	margin: 0;
	color: white;
	text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.timer {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.timer__controls {
	display: flex;
}
